
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="bg-danger mb-1 p-2 text-white">
    Erişim hakkınız yok.
</div>
<ul class="list-group">
    <li class="list-group-item"><a asp-action="Index" asp-controller="Home" class="btn btn-primary">Home</a></li>
    <li class="list-group-item"><a asp-action="Account" asp-controller="Login" class="btn btn-success">Login</a></li>
</ul>




